<div class="wrap">
  
<header class="mb">
  <div id="banner">
    <div id="name_description" class="left">
      <h1 class="h1 m-0"><a href="/">{{site.name}}</a></h1>
      <h2 class="h2 m-0">{{site.description}}</h2>
    </div>
    <div class="right">
      <div class="location">
        Cleveland, OH, USA
      </div>
      <div>
      </div>
    </div>
  </div>
  <div id="banner2">
  </div>
  <div id="banner_content">
    <div class="circular" style="padding:5px;">
      <img class="circular" src="/assets/images/bio_pic_square.jpg" />
    </div>
  </div>
</header>
