<header class="mb">
  <div id="banner">
    <div id="name_description" class="left">
      <h1 class="h1 m-0"><a href="/">{{site.name}}</a></h1>
      <h2 class="h2 m-0">{{site.description}}</h2>
    </div>
    <div class="right">
      <div class="location">
        
      </div>
      <div style="margin-top:110px;" >
        <a href="http://github.com/gdovicak">
          <img src="/assets/images/GitHub-Mark-32px.png" />
        </a>
        <a href="http://twitter.com/gdovicak">
          <img src="/assets/images/twitter-32.gif" />
        </a>
        <a href="https://www.linkedin.com/in/bengdovicak">
          <img src="/assets/images/linkedin-32.png" />
        </a>
      </div>
    </div>
  </div>
  <div id="banner2">
    <nav>
      <a href="/">Blog</a>
      <a href="/projects.html">Projects</a>
    </nav>
  </div>
      <img class="circular" src="/assets/images/bio_pic_square.jpg" style="padding: 7px; margin: -125px 0px 0px 50px"/>
</header>
