<header class="mb">
  <div id="banner">
    <div id="name_description" class="left">
      <h1 class="h1 m-0"><a href="/">{{site.name}}</a></h1>
      <h2 class="h2 m-0">{{site.description}}</h2>
    </div>
  </div>
  <div id="banner2">
    <nav>
      <a href="/">Blog</a>
      <a href="/projects.html">Projects</a>
    </nav>
    <div class="social-icons right">
      <a href="http://github.com/gdovicak">
        <img src="/assets/images/GitHub-Mark-32px.png" />
      </a>
      <a href="http://twitter.com/gdovicak">
        <img src="/assets/images/twitter-32.gif" />
      </a>
      <a href="https://www.linkedin.com/in/bengdovicak">
        <img class="padded" src="/assets/images/linkedin-32.png" />
      </a>
      <a href="http://feeds.feedburner.com/gdovicak">
        <img class="padded" src="/assets/images/rss-32.png" />
      </a>
    </div>
  </div>
      <img class="circular" src="/assets/images/bio_pic_square.jpg" />
</header>
